<form id="add-form" method="post" @submit.prevent="addFavouriteMusic">
  <table class="no-search">
    <tbody>
      <tr>
        <td class="set-w-130px">
          <strong>Tên bài hát</strong>
        </td>
        <td>
          <input type="text" v-model="formAdd.title" name="title" value="">
        </td>
      </tr>
      <tr>
        <td>
          <strong>Nhạc sĩ</strong>
        </td>
        <td>
          <input type="text" v-model="formAdd.artist" name="artist" value="">
        </td>
      </tr>
      <tr>
        <td>
          <strong>Album</strong>
        </td>
        <td>
          <input type="text" v-model="formAdd.album" name="album" value="">
        </td>
      </tr>
      <tr>
        <td>
          <strong>Ngày phát hành</strong>
        </td>
        <td>
          <input type="text" v-model="formAdd.release_year" name="release_year" value="">
        </td>
      </tr>
      <tr>
        <td>
          <strong>Ngày tạo</strong>
        </td>
        <td>
          <input type="datetime-local" v-model="formAdd.created_at" name="created_at" value="">
        </td>
      </tr>
      <tr>
        <td>
          <strong>Ngày cập nhật</strong>
        </td>
        <td>
          <input type="datetime-local" v-model="formAdd.updated_at" name="updated_at" value="">
        </td>
      </tr>
      <tr>
        <td colspan="2" class="set-text-c">
          <button class="update-btn" type="submit">
            <i class="fa fa-tasks"></i> Thêm mới
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Thông báo thành công nếu có -->
  <div v-if="isSuccess" class="alert success">
    {{ message }}
  </div>
  <success-dialog ref="successDialog"></success-dialog>
</form>