<table class="no-search">
  <tbody>
    <tr>
      <td>
        <strong class="set-mr-10px">Tên bài hát</strong>
        <input type="text" name="title" v-model="formSearch.title" class="set-w-300px" value="">
      </td>
      <td>
        <strong class="set-mr-10px">Nhạc sĩ</strong>
        <input type="text" name="artist" v-model="formSearch.artist" class="set-w-300px" value="">
      </td>
    </tr>
    <tr>
      <td>
        <strong class="set-mr-43px">Album</strong>
        <input type="text" name="album" v-model="formSearch.album" class="set-w-300px" value="">
      </td>
    </tr>
    <tr>
      <td colspan="2" class="set-text-c">
        <button class="update-btn set-mr-10px" @click.prevent="searchFavouriteMusic" type="submit">
          <i class="fa fa-search"></i> Tìm kiếm
        </button>
        <button class="back-btn" @click.prevent="clearFormSearch" type="submit">
          <i class="fa fa-eraser"></i> Xóa
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div v-if="getLoading" class="loading-overlay">
  <div class="spinner"></div>
  <p>Đang tải dữ liệu...</p>
</div>
<div v-if="getError" class="error">{{ getError }}</div>
<table v-if="!getLoading && getListSong.length">
  <thead>
    <tr>
      <th>id</th>
      <th>Tên bài hát</th>
      <th>Nhạc sĩ</th>
      <th>Album</th>
      <th>Chức năng</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="song in paginatedSongs" :key="song.id">
      <td>{{ song.id }}</td>
      <td>{{ song.title }}</td>
      <td>{{ song.artist }}</td>
      <td>{{ song.album }}</td>
      <td>
        <a href="#" class="edit-btn"><i class="fa fa-pencil"> Chỉnh sửa</i></a>
        <a href="#" class="trash-btn" @click.prevent="controller.deleteSong(song.id)"><i class="fa fa-trash-o">
            Xóa</i></a>
      </td>
    </tr>
  </tbody>
</table>
<div v-if="!getLoading && !getListSong.length" class="set-text-c">Chưa có bài hát nào.</div>

<!-- Phân trang -->
<div v-if="!getLoading && getListSong.length" class="pagination">
  <button @click="changePage(page - 1)" :disabled="page === 1">« Trước</button>
  <span>Trang {{ page }} / {{ totalPages }}</span>
  <button @click="changePage(page + 1)" :disabled="page === totalPages">Tiếp »</button>
</div>